In [117]:
import pandas as pd
movie_genre = pd.read_csv('genome-scores.csv')
genres = pd.read_csv('genome-tags.csv')
movies = pd.read_csv('movies.csv')
rating = pd.read_csv('2018_ratings.csv')
personality = pd.read_csv('2018-personality-data.csv')
#print(movie_genre)
#print(genres)
#print(movies)
movies1 = movies.drop(['genres'], axis=1)
#print(movies1)

In [39]:
#df1 = pd.DataFrame(columns=['movie_id', 'movie_name', 'movie_action', 'movie_adventure', 'movie_animation', 'movie_cartoon', 'movie_comedy', 'movie_cult', 'movie_drama', 'movie_foreign', 'movie_independent', 'movie_neo-noir', 'movie_parody', 'movie_romance', 'movie_science-fiction', 'movie_tragedy', 'movie_war'])
df2 = pd.DataFrame(movies1, columns=['movie_id', 'movie_name'])
movies1.rename(columns = {'movieId' : 'movie_id', 'title' : 'movie_name'}, inplace = True)
movies1

       movie_id                          movie_name
0             1                    Toy Story (1995)
1             2                      Jumanji (1995)
2             3             Grumpier Old Men (1995)
3             4            Waiting to Exhale (1995)
4             5  Father of the Bride Part II (1995)
...         ...                                 ...
62418    209157                           We (2018)
62419    209159           Window of the Soul (2001)
62420    209163                    Bad Poems (2018)
62421    209169                 A Girl Thing (2001)
62422    209171      Women of Devil's Island (1962)

[62423 rows x 2 columns]

In [62]:
for i in tag:
    find_row = movie_genre.loc[(movie_genre['tagId']==tag[i])]
    find_row1 = find_row.drop(['tagId'], axis=1)
    find_row1.rename(columns = {'movieId' : 'movie_id', 'relevance' : i}, inplace = True)
    find_row1
    #movies1[movie_action]
    movie_genre1 = pd.merge(left=movie_genre1, right=find_row1, how="inner", on='movie_id')

In [68]:
movie_genre1.to_csv("movie_genre1.csv")

In [61]:
tag = {'movie_adventure': 29,
'movie_animation': 64,
'movie_cartoon': 186,
'movie_comedy': 230,
'movie_cult': 274,
'movie_drama': 323,
'movie_foreign': 402,
'movie_independent': 540,
'movie_neo-noir': 700,
'movie_parody': 770,
'movie_romance': 863,
'movie_science-fiction': 889,
'movie_tragedy': 1037,
'movie_war': 1096,}
for i in tag:
    print(i)
    print(tag[i])

movie_adventure
29
movie_animation
64
movie_cartoon
186
movie_comedy
230
movie_cult
274
movie_drama
323
movie_foreign
402
movie_independent
540
movie_neo-noir
700
movie_parody
770
movie_romance
863
movie_science-fiction
889
movie_tragedy
1037
movie_war
1096

In [122]:
personality1 = pd.merge(left=rating, right=personality, how="inner", on='user_id')
personality1.rename(columns = {' movie_id':'movie_id',  ' emotional_stability' : 'neuroticism', ' openness':'openness',' agreeableness':'agreeableness',' conscientiousness':'conscientiousness',' extraversion':'extraversion'}, inplace=True)
personality1['agreeableness']=personality1['agreeableness'] * (5/7)
personality1['openness']=personality1['openness'] * (5/7)
personality1['neuroticism']=personality1['neuroticism'] * (5/7)
personality1['conscientiousness']=personality1['conscientiousness'] * (5/7)
personality1['extraversion']=personality1['extraversion'] * (5/7)
personality1['total'] = personality1['openness']+personality1['agreeableness']+personality1['neuroticism']+personality1['conscientiousness']+personality1['extraversion']
personality1.to_csv("personality1.csv")

In [120]:
personality2 = pd.merge(rating, personality, left_on='user_id', right_on='user_id', how="inner")
personality3 = pd.merge(left=rating, right=personality, how="inner", on='user_id')
print(rating)
print(personality)
personality3

                                  user_id   movie_id  movie_score  \
0        8e7cebf9a234c064b75016249f2ac65e          1          5.0
1        8e7cebf9a234c064b75016249f2ac65e          2          4.0
2        8e7cebf9a234c064b75016249f2ac65e          3          4.0
3        8e7cebf9a234c064b75016249f2ac65e          5          5.0
4        8e7cebf9a234c064b75016249f2ac65e          6          4.0
...                                   ...        ...          ...
1028746  721ea658e148fc0f76ddd6e2b0e02422      95167          1.5
1028747  721ea658e148fc0f76ddd6e2b0e02422     103335          4.5
1028748  721ea658e148fc0f76ddd6e2b0e02422     104374          3.5
1028749  721ea658e148fc0f76ddd6e2b0e02422     107890          4.0
1028750  721ea658e148fc0f76ddd6e2b0e02422     111781          4.0

                    score_date
0         2001-09-10 17:19:56
1         2001-09-28 11:34:55
2         2001-09-28 11:42:50
3         2001-09-28 11:27:30
4         2002-01-07 18:12:02
...                        ...
1028746   2015-10-14 10:39:15
1028747   2015-10-14 10:21:55
1028748   2015-10-12 01:05:38
1028749   2015-10-14 05:30:08
1028750   2015-12-26 07:50:05

[1028751 rows x 4 columns]
                               user_id   openness   agreeableness  \
0     8e7cebf9a234c064b75016249f2ac65e        5.0             2.0
1     77c7d756a093150d4377720abeaeef76        7.0             4.0
2     b7e8a92987a530cc368719a0e60e26a3        4.0             3.0
3     92561f21446e017dd6b68b94b23ad5b7        5.5             5.5
4     030001ac2145a938b07e686a35a2d638        5.5             5.5
...                                ...        ...             ...
1815  cff910b71f09b3120289ff6b461a9e03        5.5             3.5
1816  1ab3a4c2921d8da640854819b0f6cfce        4.0             3.5
1817  a06386edadf3bc614dadb7044708c46c        6.0             3.0
1818  bad56d9506832cd79d874a6b66b3d813        5.0             3.5
1819  721ea658e148fc0f76ddd6e2b0e02422        6.5             6.5

       emotional_stability   conscientiousness   extraversion
0                      3.0                 2.5            6.5
1                      6.0                 5.5            4.0
2                      4.5                 2.0            2.5
3                      4.0                 4.5            4.0
4                      3.5                 4.5            2.5
...                    ...                 ...            ...
1815                   2.5                 4.0            5.5
1816                   4.5                 4.0            2.5
1817                   5.5                 3.5            6.0
1818                   1.5                 3.5            2.5
1819                   2.5                 6.5            2.0

[1820 rows x 6 columns]

,user_id,movie_id,movie_score,score_date,openness,agreeableness,emotional_stability,conscientiousness,extraversion
0,8e7cebf9a234c064b75016249f2ac65e,1,5.0,2001-09-10 17:19:56,5.0,2.0,3.0,2.5,6.5
1,8e7cebf9a234c064b75016249f2ac65e,2,4.0,2001-09-28 11:34:55,5.0,2.0,3.0,2.5,6.5
2,8e7cebf9a234c064b75016249f2ac65e,3,4.0,2001-09-28 11:42:50,5.0,2.0,3.0,2.5,6.5
3,8e7cebf9a234c064b75016249f2ac65e,5,5.0,2001-09-28 11:27:30,5.0,2.0,3.0,2.5,6.5
4,8e7cebf9a234c064b75016249f2ac65e,6,4.0,2002-01-07 18:12:02,5.0,2.0,3.0,2.5,6.5
...,...,...,...,...,...,...,...,...,...
1028746,721ea658e148fc0f76ddd6e2b0e02422,95167,1.5,2015-10-14 10:39:15,6.5,6.5,2.5,6.5,2.0
1028747,721ea658e148fc0f76ddd6e2b0e02422,103335,4.5,2015-10-14 10:21:55,6.5,6.5,2.5,6.5,2.0
1028748,721ea658e148fc0f76ddd6e2b0e02422,104374,3.5,2015-10-12 01:05:38,6.5,6.5,2.5,6.5,2.0
1028749,721ea658e148fc0f76ddd6e2b0e02422,107890,4.0,2015-10-14 05:30:08,6.5,6.5,2.5,6.5,2.0
1028750,721ea658e148fc0f76ddd6e2b0e02422,111781,4.0,2015-12-26 07:50:05,6.5,6.5,2.5,6.5,2.0

In [118]:
personality

,user_id,openness,agreeableness,emotional_stability,conscientiousness,extraversion
0,8e7cebf9a234c064b75016249f2ac65e,5.0,2.0,3.0,2.5,6.5
1,77c7d756a093150d4377720abeaeef76,7.0,4.0,6.0,5.5,4.0
2,b7e8a92987a530cc368719a0e60e26a3,4.0,3.0,4.5,2.0,2.5
3,92561f21446e017dd6b68b94b23ad5b7,5.5,5.5,4.0,4.5,4.0
4,030001ac2145a938b07e686a35a2d638,5.5,5.5,3.5,4.5,2.5
...,...,...,...,...,...,...
1815,cff910b71f09b3120289ff6b461a9e03,5.5,3.5,2.5,4.0,5.5
1816,1ab3a4c2921d8da640854819b0f6cfce,4.0,3.5,4.5,4.0,2.5
1817,a06386edadf3bc614dadb7044708c46c,6.0,3.0,5.5,3.5,6.0
1818,bad56d9506832cd79d874a6b66b3d813,5.0,3.5,1.5,3.5,2.5
1819,721ea658e148fc0f76ddd6e2b0e02422,6.5,6.5,2.5,6.5,2.0